html, body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin: 2px;
  padding: 2px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#codeBlock {
  font-family: "Courier New", Courier, monospace;
}

#imageContainer {
  position: relative;
  margin-left: 5px;
  padding: 2px
}

.CodeMirror {
  border: 1px solid black;
  max-width: 600px;
  margin-left: 26px;
}

.progressBar {
  position: relative;
  background-color: #00cc00;
}

.progressBorder {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 1px solid black;
  height: 25px;
  width: 100px;
  border-radius: 3px;
  z-index: 999;
}