$def with(form1,imageurl,err)

<html>
<head>
<title>pyImageServer</title>
</head>

<body>
<font face="consolas">
<h1>Sudo's Image-code Project</h1>
</font>

<code>
<form method="POST">
<pre>
def getPixel( x,y ):
$:form1.code.render()
  return r,g,b
<br />
$:form1.Preview.render()
</pre><br />

$if err:
	<img src="images/linebreak.png">
	<p><b>
	<font color="red">
	$err
	</font><br />
	<img src="images/linebreak.png">
	</b></p>

$if imageurl:
	<img src="images/linebreak.png">
	<br /><pre>                <img src=$imageurl></pre><br />
	<img src="images/linebreak.png">
	<br />
	Your name: $:form1.user.render()
	$:form1.Submit.render()
	<br />Stop making really cool images and then not submitting them! :D

</form>
	
</code>
</body>
</html>