html,body {
	font-family:"Segoe UI";
	font-size:12px;
	margin:0;
	border:0;
	padding:4px;
}

.background {
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    background-color: rgb(240,240,240);
}

.contentArea {
    width: 920px;
    height: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(200,200,240);
}

.header {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background:black;
	color:white;
}
.header a {
	color:#E8E8E8;
	padding: 0px 4px;
}
.header a:hover {
	color:white;
	background:darkgrey;
}
.header table {
	width:100%;
	padding:4px;
}
.header td {
	width:33%;
}

.images_area {
	padding: 8px;
	text-align:center;
}
.images_area a {
	text-decoration:none;
}


.image_tile {
	border:   0px;
	width:  200px;
	height: 200px;
	-webkit-box-shadow: 2px 2px 4px 0px #CCC;
	   -moz-box-shadow: 2px 2px 4px 0px #CCC;	
	        box-shadow: 2px 2px 4px 0px #CCC;
	margin: 4px;
}
.image_tile:hover {
	-webkit-box-shadow: 2px 2px 2px 0px #000;
	   -moz-box-shadow: 2px 2px 2px 0px #000;	
	        box-shadow: 2px 2px 2px 0px #000;
}

.errormsg {
	text-align:center;
	color:red;
	font-weight:bold;
}

.information {
	font-size:16px;
	margin-left:auto;
	margin-right:auto;
	width:900px;
}
.information h1 {
	font-size:20px;
}
